In [7]:
import pandas as pd
import os
os.chdir(r'C:\\Users\\Administrator\\PycharmProjects\\untitled1\\data_deal_machine')
from pydata_deal_machine.wetagging_machine import Wetagging
from pydata_deal_machine.welookup_machine import welookup
from pydata_deal_machine.wetagging_machine import Wetagging,Wetagging_create
from pydata_deal_machine.wedtclean_machine import Date_deal

In [8]:
os.listdir('.\config\Tagcode_home')

['00001.txt', '00002.txt', '00003.txt', '00008.txt', '00009.txt', '00010.txt']

In [9]:
create = Wetagging_create("re",'00010.txt')

该标签文件已存在,请重新命名

In [10]:
data = pd.read_hdf(path_or_buf = r"F:\temp\automation\new_tot_table\output\tot_data.h5")

In [11]:
data = data.loc[:,['婚博会id','婚礼日期']]

In [4]:
dt_result = Date_deal(frame=data,name='婚礼日期',key='婚博会id',aim_data).summary()

In [5]:
dt_result

          婚博会id        婚礼日期       日期格式化 中文备注   相差数
0      22258000                    None        NaN
1      22258002                    None        NaN
2      22258004                    None        NaN
3      22258005                    None        NaN
4      22258006                    None        NaN
5      22258008                    None        NaN
6      22258009                    None        NaN
7      22258010                    None        NaN
8      22258012                    None        NaN
9      22258013                    None        NaN
10     22258014                    None        NaN
11     22258015                    None        NaN
12     22258019                    None        NaN
13     22258020                    None        NaN
14     22258022                    None        NaN
15     22258023                    None        NaN
16     22258026                    None        NaN
17     22258028                    None        NaN
18     22258029                    None        NaN
19     22258030                    None        NaN
20     22258031                    None        NaN
21     22258033          待定        None   待定   NaN
22     22258034                    None        NaN
23     22258035                    None        NaN
24     22258036                    None        NaN
25     22258037                    None        NaN
26     22258038                    None        NaN
27     22258039                    None        NaN
28     22258040                    None        NaN
29     22258043                    None        NaN
...         ...         ...         ...  ...   ...
48462  21681249   2018/12/4   2018-12-4       -3.0
48463  21681395  2019/11/23  2019-11-23      -15.0
48464  21682119   2018/10/3   2018-10-3       -1.0
48465  21682293    2019/上半年        2019  上半年   NaN
48466  21682322     2018/12   2018-12-1       -3.0
48467  21682437   2018/10/1   2018-10-1       -1.0
48468  21682546  2018/11/20  2018-11-20       -3.0
48469  21682650   2018/12/7   2018-12-7       -3.0
48470  21682754     2018/12   2018-12-1       -3.0
48471  21682799   2019/3/23   2019-3-23       -7.0
48472  21683062  2018/12/31  2018-12-31       -4.0
48473  21683664  2018/11/14  2018-11-14       -3.0
48474  21683719        2019        2019        NaN
48475  21683757   2018/10/1   2018-10-1       -1.0
48476  21683930    2019/9/9    2019-9-9      -13.0
48477  21683935   2018/10/3   2018-10-3       -1.0
48478  21683961  2018/12/18  2018-12-18       -4.0
48479  21684050  2018/11/19  2018-11-19       -3.0
48480  21684140   2017/3/13   2017-3-13       18.0
48481  21684416  2018/10/24  2018-10-24       -2.0
48482  21684549      2019/1    2019-1-1       -4.0
48483  21685103        2019        2019        NaN
48484  21685529   2018/10/5   2018-10-5       -1.0
48485  21685539        2019        2019        NaN
48486  21685584    2018/下半年        2018  下半年   NaN
48487  21685596   2018/9/17   2018-9-17       -1.0
48488  21685835    2019/1/1    2019-1-1       -4.0
48489  21685846        2018        2018        NaN
48490  21686091   2018/9/15   2018-9-15       -1.0
48491  21686333   2018/10/2   2018-10-2       -1.0

[48492 rows x 5 columns]